<!DOCTYPE html>
<html>
  <head>
    <title>Simple Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <nav>
    <div class="nav-wrapper container">
      <a href="<%= root_path %>" class="brand-logo">Simplechat</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      	<% if current_user %>
				<li class="nav-item">
					<%= link_to "Log out #{current_user.email}", logout_path, method: 'delete', class: "nav-link" %>
				</li>
				<% else%>
				<li class="nav-item">
					<%= link_to "Create An Account", new_user_path, class: "nav-link" %>
				</li>
				<li class="nav-item">
					<%= link_to "Log In", new_session_path, class: "nav-link" %>
				</li>
				<% end %>
      </ul>
    </div>
  </nav>

  	<div class="container">
		<% unless flash.empty? %>
			<% flash.each do |key,value|%>
			<div class=" card-panel pink">
				<span class=" white-text"><%= value %></span>
			</div>			
			<% end %>
		<% end %>
	</div>  
  	<div class="container">
  		
  		<%= yield %>	
  	</div>
    
  </body>
</html>
